[Desktop Entry]
Name=Interaction Tracker
GenericName=
Comment=
Exec=/home/tmaurer/src/interaction-tracker/tracker.sh
Terminal=false
Type=Application
Icon=
Categories=
StartupNotify=false
